<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>فرم ارسال داده</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <div class="form-container">
    <h1>فرم ارسال داده</h1>
    <form id="dataForm">
      <label for="textInput">متن خود را وارد کنید:</label>
      <textarea id="textInput" rows="5" placeholder="متن درخواستی خود را اینجا بنویسید..." style="font-size: 16px;"></textarea>
      <button type="submit">ارسال</button>
<button type="button" id="applyChangesBtn" style="display: none; margin-top: 20px; margin-right: 10px;">اعمال تغییرات</button>
    </form>
    <!-- نمایش مسیر انتخاب شده -->
    <div id="selectedPathDisplay" style="margin-top: 20px; cursor: pointer;"></div>
    <div id="output"></div>
  </div>

  <script src="/static/script.js"></script>
</body>
</html>
